$main-color: coral;
$nav-top-color: rgb(255, 255, 255);
$nav-bottom-color: #05042c;
$back-color: linear-gradient(45deg, orange 10%, coral 90%);
$button-color: linear-gradient(45deg, #0abfd2 10%, #05042c 70%);
$height-top-nav: 60px;
$height-bottom-nav: 70px;
$height-sum: 130px;
$base-color-1: #05042c;
$base-color-2: #0abfd2;
